@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garde_ghotic";
  src: url("/src/assets/fonts/AVANTGARDELT-BOLD.OTF");
}
@font-face {
  font-family: "Garde_ghotic_2";
  src: url("/src/assets/fonts/AVANTGARDELT-BOOK.OTF");
}
@font-face {
  font-family: "Better_yesterday";
  src: url("/src/assets/fonts/BETTER-YESTERDAY.OTF");
}

body {
  font-family: "Garde_ghotic";
  background-color: #ffffff;
}
.better_yesterday {
  font-family: "Better_yesterday";
}

.garde_ghotic_semibold {
  font-family: "Garde_ghotic_2";
}
