@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garde_ghotic";
  src: url("/src/assets/fonts/AVANTGARDELT-BOLD.OTF");
}
@font-face {
  font-family: "Garde_ghotic_2";
  src: url("/src/assets/fonts/AVANTGARDELT-BOOK.OTF");
}
@font-face {
  font-family: "Better_yesterday";
  src: url("/src/assets/fonts/BETTER-YESTERDAY.OTF");
}

body {
  font-family: "Garde_ghotic";
  background-color: #ffffff;
}
.better_yesterday {
  font-family: "Better_yesterday";
}

.garde_ghotic_semibold {
  font-family: "Garde_ghotic_2";
}
.swiper-button-next {
  color: #dc4242;
  font-weight: bold;
}
.swiper-button-prev {
  color: #dc4242;
  font-weight: bold;
}

.swiper-pagination-bullet-active {
  background-color: #dc4242;
}

/* Estilos personalizados para los botones next y previous */
.swiper-testimonials .swiper-button-next,
.swiper-testimonials .swiper-button-prev {
  background-color: white; /* Fondo blanco */
  color: #dc4242; /* Color original de los botones */
  padding: 30px; /* Ajusta el valor según el padding que desees agregar */
  /* Otros estilos que desees agregar */
}

.services-item-slider .swiper-button-next,
.services-item-slider .swiper-button-prev {
  color: #dc4242;
  transform: translateY(-0.4rem);
  @media (max-width: 640px) {
    --swiper-navigation-size: 30px; /* Cambiar el tamaño en el breakpoint sm */
  }

  @media (min-width: 641px) and (max-width: 768px) {
    --swiper-navigation-size: 30px; /* Cambiar el tamaño en el breakpoint md */
  }
}
